.smallImg{
    width: 200px;
    height: 150px;
    margin-left: 15px;
    padding: 3px;
    
}

.smallImg:hover{
    border: 3px solid rgb(0, 139, 139);
    border-radius: 10px;
}


.bigImg{
    width: 800px;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    border: 6px solid rgb(0, 139, 139);
    border-radius: 15px;
    position: absolute;

}

